@import url("../style.css");

.title {
  text-align: center;
}

.subtext {
  text-align: center;
}

.meta {}

.main {
  flex-direction: column;
}

.image {
  display: flex;
  margin: 10px;
  width: 50%;
}

.image img {
  width: 100%;
}